<ion-header>
  <ion-toolbar>
    <ion-title>Indstillinger</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">

    <ion-item *ngFor="let definition of definitions$ | async">
      <ion-label>
        {{definition.title}} - {{definition.description}}
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

  </ion-reorder-group>
</ion-content>
