<ion-header>
  <ion-toolbar>
    <ion-title>Forsvarets Huskeord</ion-title>
    <ion-buttons slot="end" collapse="true">
      <ion-button (click)="showSettingsModal()">
        <ion-icon slot="icon-only" name="swap-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar>
      <ion-searchbar placeholder="Søg" [ngModel]="searchText$ | async" (ngModelChange)="searchText$.next($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="definitions$ | async as definitions">
    <ion-card *ngFor="let definition of definitions">
      <ion-card-header>
        <ion-card-subtitle>{{definition.description}}</ion-card-subtitle>
        <ion-card-title>{{definition.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul class="list">
          <li *ngFor="let word of definition.fullText" [innerHTML]="word"></li>
        </ul>
      </ion-card-content>
    </ion-card>

    <p class="no-results" *ngIf="!definitions.length">Ingen resultater</p>
  </ng-container>

  <p style="text-align: center;">
    <a target="_blank" href="https://nicolai.io">Lavet af Nicolai Davies</a>
  </p>

</ion-content>
