<ion-header>
  <ion-toolbar>
    <ion-title>HJV Huskeord</ion-title>
<!--    <ion-buttons slot="end" collapse="true">-->
<!--      <ion-button [routerLink]="['/settings']">-->
<!--        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<!--  <ion-header>-->
<!--    <ion-toolbar>-->
<!--      <ion-searchbar></ion-searchbar>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <ng-container *ngFor="let definition of definitions">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{definition.description}}</ion-card-subtitle>
        <ion-card-title>{{definition.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul class="list">
          <li *ngFor="let word of definition.fullText" [innerHTML]="word"></li>
        </ul>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <p style="text-align: center;">
    <a target="_blank" href="https://nicolai.io">Lavet af Nicolai Davies</a>
  </p>

</ion-content>
