.list {
  margin: 0;
  padding-left: 20px;
}

ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h {
  padding-top: 10px;
}

.no-results {
  text-align: center;
  padding: 2em;
}

@media screen and (min-width: 900px) {
  ion-card {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
